html,
body {
  background-color: black;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

path {
  fill-opacity: 0;
}

#svg-image {
  height: 100%;
  width: 149.108118vh; /* 100 * 4096 / 2747 */
  min-width: 100%;
  min-height: 67.0654297vw; /* 100 * 2747 / 4096 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

#displayCard {
  display: flex;
  z-index: 5;
}

#screenLeft {
  z-index: 6;
}

#screenRight {
  z-index: 6;
}

#bgLightsOff {
  transition: opacity 500ms;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.react-player {
  position: absolute;
}

.react-slideshow-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------- MOBILE----------- */
/* Portrait */
@media only screen and (min-device-width: 345px) and (max-device-width: 812px) and (orientation: portrait) {
  #svg-image {
    width: 151.108118vh;
    left: 64%;
  }
}
/* Landscape */
@media only screen and (min-device-width: 345px) and (max-device-width: 900px) and (orientation: landscape) {
  #svg-image {
    height: 94vw;
    top: 57%;
  }
  .wrapper {
    height: 105vh !important;
    width: 112vw !important;
  }
}

/* ----------- Laptop: Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Laptop: Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

/* ____ANIMATIONS____ */

.fadeIn {
  -webkit-animation: fadein ease 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein ease 2s; /* Firefox < 16 */
  -ms-animation: fadein ease 2s; /* Internet Explorer */
  -o-animation: fadein ease 2s; /* Opera < 12.1 */
  animation: fadein ease 2s;
}

.fadeOut {
  -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s; /* Firefox < 16 */
  -ms-animation: fadeout 2s; /* Internet Explorer */
  -o-animation: fadeout 2s; /* Opera < 12.1 */
  animation: fadeout 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes standUp {
  0% {
    opacity: 0.75;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0.5);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@-moz-keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@-webkit-keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@-o-keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@-ms-keyframes fanOut {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.animate__flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
